.firstImage{
    background-image: url('../../assets/home/firstImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondImage{
    background-image: url('../../assets/home/secondImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}